---
layout: default
---
<div class="posts">
  {% for post in site.posts %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.post-title }}</a></h1>
				<p class="episode-subtitle">Episode {{ post.url | replace: '/', ''}} | {{ post.date | date: "%B %e, %Y" }}</p>

        <div class="entry">
          {{ post.excerpt }}
        </div>

				{% if post.soundcloud-url %}
						{% include soundcloud.html id=post.soundcloud-url %}
				{% endif %}

         <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Full Show Notes</a>
      </article>
  {% endfor %}
</div>
<div id="sidebar" role="sidebar" class="sidebar">
	{% include sidebar.html %}
</div>
