---
layout: default
---
<style>
.post-image {
	width:100%;
}

.post-index {
	width:30%;
	float:left;
	margin:10px;
	font-size: 1.1vw;
	position: relative;
}

.post-title-index {
	min-height: 100px;
	max-width: 220px;
	width: 100%;
	overflow: hidden;
	font-size: 0.9vw;
}

.post-text{
	max-width: 455px;
	min-height:300px;
	float:left;
}
.post-exerpt {
	background: rgba(0,0,0,0.8);
	color: white;
	cursor: pointer;
	/*display: table;*/
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: scroll;
	height: 100%;
	vertical-align: top;
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.post-exerpt:hover {
	opacity: 1;
}

span.post-exerpt span p {
	margin: 5px;
	font-size: 1vw;
}

</style>


<div class="posts">
  {% for post in site.posts %}
      <article class="post-index">

					<a href="{{ site.baseurl }}{{ post.url }}"><img class="post-image" src="/images/featured/{{ post.url | replace: '/', ''}}.png" /></a>
					<a href="{{ site.baseurl }}{{ post.url }}"><span class="post-exerpt"><span>{{ post.excerpt }}</span></span></a>
					<p class="episode-subtitle">Ep {{ post.url | replace: '/', ''}} | {{ post.date | date: "%b %e, %Y" }}</p>
					<div class="post-title-index"><a style="color:#000;"  href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>

				<!-- <div class="post-text">
	        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
					<p class="episode-subtitle">Episode {{ post.url | replace: '/', ''}} | {{ post.date | date: "%B %e, %Y" }}</p>

	        <div class="entry">
	          {{ post.excerpt }}
						<a href="{{ site.baseurl }}{{ post.url }}">LISTEN HERE</a>
						<br/>&nbsp;
	        </div>
				</div> -->
				<!-- {% if post.soundcloud-url %} -->
						<!-- {% include soundcloud.html id=post.soundcloud-url %} -->
				<!-- {% endif %} -->


      </article>
  {% endfor %}
</div>
<div id="sidebar" role="sidebar" class="sidebar">
	{% include sidebar.html %}
</div>
