<script>
	//setup chart definition
	var options = {
	   chart: {
	       renderTo: 'downloads',
	       type: 'spline',
				 height: 300
	   },
	   data:{
				googleSpreadsheetKey: '1j_8c6ZYU8rGoZjmFm88dV6OnPs1o-y5ru9jz16-8wyo',
				googleSpreadsheetWorksheet: 'ot3k1ld'
	   },
	   title: {
	       text: 'Weekly Downloads'
	   },
	   tooltip: {
	       enabled: true
	   },
	   yAxis: {
	       title: {
	           text: '',
	           margin: 10
	       },
	       labels: {
	           enabled: true
	       },
	       gridelineWidth: 0
	   },
	   series: [{
	       showInLegend: false,
	       dataLabels: {
	           enabled: true
	       },
	       data: []
	   }]
	}

	//build chart
	var chart = new Highcharts.Chart(options);

	</script>

	<div id="downloads"></div>
