<footer class="site-footer">

	<div id="mc_embed_signup">
	<form action="//github.us13.list-manage.com/subscribe/post?u=cad55455551e1e11806a8b502&amp;id=750eb9afc7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
		<label for="mce-EMAIL">Subscribe to our mailing list</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cad55455551e1e11806a8b502_750eb9afc7" tabindex="-1" value=""></div>
	    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    </div>
	</form>
	</div>

	<p>Copyright &copy; <a href="{{ site.baseurl }}/">{{site.title}}</a></p>
	
</footer>
