<a href="{{ site.baseurl }}/" class="sidebar-avatar">
	<img src="/images/breaking-espanol-sidebar-8bit.jpg" />
</a>

<p>We’ve all said we want to learn a second language, Spanish most likely. This is our family’s journey into becoming more compassionate for Latin culture by learning the language, traveling to different locations, and immersing ourselves in every day Latin life.</p>
<p>Join us on this journey below..</p>

<h1>Subscribe</h1>
{% include subscribe.html %}
{% include instafeed.html %}
<h1>Follow</h1>
{% include social-icons.html %}
<h1>Join the Community!</h1>
{% include patreon.html %}
