<style>
.subscribe {
	width:100%;
	overflow:hidden;
}

.subscribe-option {
	/*width: 50%;*/
	float:left;
	/*max-width: 200px;*/
}
</style>
<div class="subscribe">
	<div class="subscribe-option"><a href="https://geo.itunes.apple.com/us/podcast/breaking-espanol-one-familys/id1129606652?mt=2" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:110px;height:40px;margin-right:20px;"></a></div>
	<div class="subscribe-option"><a href="https://soundcloud.com/breakingespanol"><img src="{{ site.baseurl }}/images/soundcloud.png" style="display:inline-block;overflow:hidden;height:40px;"></a></div>
</div>
