---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
	<p class="episode-subtitle">Episode {{ page.url | replace: '/', ''}} | {{ page.date | date: "%B %e, %Y" }}</p>

  {% if page.youtube %}
      {% include youtube.html id=page.youtube %}
  {% endif %}

	<div id="soundcloud-embed">
		{% if page.soundcloud-url %}
				{% include soundcloud.html id=page.soundcloud-url %}
		{% endif %}
	</div>

  <div class="entry">
    {{ content }}
  </div>

	<h1>Subscribe</h1>
	{% include subscribe.html %}
	<h1>Follow</h1>
	{% include social-icons.html %}
	<h1>Join the Community!</h1>
	{% include patreon.html %}
</article>
