---
layout: default
---

<article class="post">
  <h1>{{ page.post-title }}</h1>
	<p class="episode-subtitle">Episode {{ page.url | replace: '/', ''}} | {{ page.date | date: "%B %e, %Y" }}</p>


	<p>soundcloud-url: {{ page.soundcloud-url }}</p>
	<iframe
		width="100%"
		height="166"
		scrolling="no"
		frameborder="no"
		src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{% page.soundcloud-url %}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
	></iframe>


  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
